.git
.git/**
.github
.github/**

**/build/**
**/.dart_tool/**
**/.idea/**
**/.vscode/**

apps/**
packages/**
!packages/
!packages/nom_converter/
!packages/nom_converter/**

*.log

!pubspec.lock
!cloudbuild.server.yaml
!server/backend_server/**
